<footer class="page-footer">
 
  <div>
    <div class="row">
      <div class="col l2">
 
        <h5 class="white-text">ABOUT</h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">Contact US</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">About US</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Deposite Stories</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Press</a></li>
 
        </ul>
 
 
 
      </div>
 
      <div class="col l2">
 
        <h5 class="white-text">HELP</h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">Payment</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Shipping</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Cancelling & Return</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Report</a></li>

 
        </ul>
 
 
 
      </div>    
       <div class="col l2">
 
        <h5 class="white-text">POLICY</h5>
 
        <ul>
 
          <li><a class="grey-text text-lighten-3" href="#!">Return Policy</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Terms of Use</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Security</a></li>
 
          <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Sitemap</a></li>

 
        </ul>

      </div> 
       <div class="col l2">
 
        <h5 class="white-text">SOCIAL</h5>
 
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linkdin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">YouTube</a></li>
        </ul>
      </div>      
 <div class="vl col l1"></div>
 <div class="col l3" style="margin-left:-100px;">
      <h5 class="white-text">MAIL US</h5>
      <ul>
      <li>Chaudhari wasti,Kharadi,Pune,Maharastra,India Pincode-411014</li>
      <li>amolchaudhari533@gmail.com</li>
      </ul>
 
 </div>
    </div>
 
  </div>
 
  <div class="footer-copyright">
 
    <div class="container">
 
    © 2020 Copyright - All Rights Reserved
 
    <a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
 
    </div>
 
  </div>
 
</footer>