<div class="col l10 full-height" >
 <div class="row">
      <div class="card">
        <div class="card-content black-text">
          <span class="card-title"><b>Filters</b></span>
        </div>
        <div class="card-action one">
          <p><b>price</b></p><br/>
          <div class="progress">
      <div class="determinate" style="width: 70%"></div>
      </div>
      <div class="row">
      <select id="cars" style="width:50px;">
  <option value="volvo">Min</option>
  <option value="saab">$10</option>
  <option value="opel">$20</option>
  <option value="audi">$50</option>
</select>
  <p class="center">to</p>
  <select id="cars" style="width:50px;">
  <option value="volvo">$1000</option>
  <option value="saab">$1500</option>
  <option value="opel">$2000</option>
  <option value="audi">$3000</option>
</select>
</div>


        </div>
        <div class="card-action one">
          <p><b>Customer Ratings</b></p><br/>
          <p style="margin-top:-20px;">
      <label>
        <input type="checkbox" class="filled-in" />
        <span>4&#x2605; & above</span>
      </label>
    </p>
     <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>3&#x2605; & above</span>
      </label>
    </p>
     <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>2&#x2605; & above</span>
      </label>
    </p>
     <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>1&#x2605; & above</span>
      </label>
    </p>
          </div>
          <div class="card-action one">
          <p><b>Offers</b></p><br/>
          <p style="margin-top:-20px;">
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Buy more, Save more</span>
      </label>
    </p>
     <p>
      <label>
        <input type="checkbox" class="filled-in" />
        <span>Special Price</span>
      </label>
    </p>
      </div>
  </div>
</div>